@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
section {
    background-color: #ADA0A2;
}
label {
    font-size: 17px;
}
.titulo {
    text-align: center;
}
#tituloh1 {
    font-family: serif;
    font-size: 52px;
}
#titulop {
    font-family: serif;
    font-size: 32px;
}
.formulario h4 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.formulario {
    align-items: center;
    padding: 32px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 5px;
    margin: 50px;
    max-width: 650px;
    max-height: 650px;
    font-family: sans-serif;
    background-color: #F5F3EF;
}
.campo {
    padding: 15px
}
input[type="text"],
input[type="mail"],
input[type="tel"] {
    width: 200px;
}
input:focus {
    border: 1px solid lightgray;
    outline: none;
}
.msg {
    padding: 15px;
}
.place-msg {
    padding: 8px 12px;
    text-align: left;
    height: 100px;
    vertical-align: top;
    align-self: flex-start;
}
.horario {
    margin-top: 100px;
    margin-right: 200px;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    height: 130px;
    width: 230px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F5F3EF;
}
.logo-footer {
    width: 75px;
    height: auto;
    margin-bottom: 10px;
    justify-content: flex-start;
}
.texto-footer {
    color: #fff;
    font-size: 14px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
    background-color: #8b5e3c;
    margin-top: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #8b5e3c;
}
.nav-link {
    color: rgb(37, 27, 13);
}
.nav-item:hover {
    background-color: #97755a;
}
.nav-link:hover {
    color: rgb(37, 27, 13);
}
.logo-titulo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.logo-titulo img {
    width: 150px;
    height: 110px;
}
.titulo-biblioteca {
    font-size: 75px;
    color: #fff;
    margin: 0;
    justify-content: center;
    margin: 0 auto;
}
